MONGO_URI=mongodb://mongodb-orders:27017/orders_db
JWT_SECRET=supersecretkey_please_change_in_prod
PRODUCT_SERVICE_URL=http://product-service:8002
NOTIFICATION_SERVICE_URL=http://notification-service:8004
